<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="noticias">
      <ion-icon class="centro" name="home-outline"></ion-icon>
      <ion-label class="small-font">Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="empregados">
      <ion-icon class="centro" name="person-outline"></ion-icon>
      <ion-label class="small-font">Empregados</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="sobre">
      <ion-icon class="centro" name="settings-outline"></ion-icon>
      <ion-label class="small-font">Sobre</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
