<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <ion-title class="title-page">Empregados</ion-title>
      </ion-col>
      <ion-col size="2">
        <ion-buttons class="ajuste-botao">
          <ion-fab vertical="bottom">
            <ion-fab-button size="small">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-buttons>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div *ngIf="empregados | async as empregados$ else loading">
          <ion-list>
            <ion-item lines="none" class="item-employee" *ngFor="let empregado of empregados$">
              <ion-avatar>
                <div *ngIf="!empregado.profile_image" class="avatar-fake"></div>
                <ion-img class="avatar" *ngIf="empregado.profile_image" [src]="empregado.profile_image"></ion-img>
              </ion-avatar>
              <ion-label class="infos">
                <h3>{{empregado.employee_name}}</h3>
                <p>Salário: {{empregado.employee_salary | number}}</p>
              </ion-label>
              <ion-icon [routerLink]="['/editar']" slot="end" name="chevron-forward"></ion-icon>
            </ion-item>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ng-template #loading>
  <ion-grid>
    <ion-row>
      <ion-col class="center">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>