ion-fab-button{
    --box-shadow-color:  rgba(255, 101, 160, 0.5);
    background-color: var(--box-shadow-color);
    box-shadow: 0 3px 3px 1px var(--box-shadow-color), 0 3px 3px 0 var(--box-shadow-color), 0 1px 5px 0 var(--box-shadow-color);
    border-radius: 50% !important;
    width: 36px;
    height: 36px;
    margin-top: -20px;
}

.title-page {
    font-size: 32px;
    color: #000;
    font-weight: 600;
    float: left;
    margin-top: 10px;
}

.ajuste-botao {
    position: absolute;
    top: 70px;
    right: 60px;
}

.avatar-fake {
    width: 50px;
    height: 50px;
    background-color: #d8d8d8;
    border-radius: 50px;
    margin-bottom: 20px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-bottom: 20px;
}

.infos {
    margin-left: 20px;
    margin-top: 20px;
    h3 {
        color: #000;
        line-height: 20px;
        font-weight: 500;
        font-size: 15px;
    }
    p {
        color: #8c989b;
        line-height: 10px;
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 15px;
    }
}

.center {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.item-employee {
    border-bottom: 1px solid #e5e5e5;
}

.item-employee:last-child {
    border-bottom: 0px solid #e5e5e5;
}