ion-fab-button{
    --box-shadow-color:  rgba(255, 101, 160, 0.5);
    background-color: var(--box-shadow-color);
    box-shadow: 0 3px 3px 1px var(--box-shadow-color), 0 3px 3px 0 var(--box-shadow-color), 0 1px 5px 0 var(--box-shadow-color);
    border-radius: 50% !important;
}


.name-top {
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
}

.login-box {
    display: flex;
    flex-flow: column;
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
}

.title-page {
    font-size: 34px;
    font-weight: 600;
    color: #1e2432;
    margin-bottom: 40px;
}

.line-form {
    margin-top: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.label {
    font-weight: 600;
    width: 50%;
}

.error {
    font-size: 12px;
    font-weight: 300;
    color: red;
    margin-left: 25px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.btn-edit {
    margin-top: 20px;
    max-width: 100%;
    --border-radius: 20px;
    height: 56px;
}

.edit-item {
    display: flex;
    flex-flow: column;
}

.native-input:placeholder-shown {
    color: #e5e5e5;
}
