<ion-header no-border>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Notícias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-fab vertical="top" horizontal="end" edge slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lorem ipsum dolor amect vue in charts</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Curabitur vitae velit tincidunt lectus laoreet tempor. Integer bibendum laoreet diam, non suscipit elit malesuada non.
    </ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-icon name="heart"></ion-icon>
        </ion-col>
        <ion-col size="3">
          <ion-icon name="chatbubble-ellipses"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  
</ion-content>
