.ajuste-botao {
    position: absolute;
    top: 70px;
    right: 60px;
}

.title-page {
    font-size: 32px;
    color: #000;
    font-weight: 600;
}

.title-post {
    font-size: 20px;
}

.post-color {
    color: #b5bbc6;
}

.center {
    align-items: center;
    display: flex;
    flex-direction: column;
}