<ion-content fullscreen="true">
  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <ion-searchbar placeholder="Buscar"></ion-searchbar>
      </ion-col>
      <ion-col size="2">
        <ion-buttons class="ajuste-botao">
          <ion-fab vertical="bottom" >
            <ion-fab-button size="small">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-buttons>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-title class="title-page">Notícias</ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="noticias | async as noticias$ else loading">
    <ion-card *ngFor="let noticia of noticias$" [routerLink]="['/post/'+noticia.id]">
      <ion-card-header>
        <ion-card-title class="title-post">{{noticia.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{noticia.body}}
      </ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-icon class="post-color" name="heart" size="large"></ion-icon> {{noticia.curtidasQnt}}
          </ion-col>
          <ion-col size="3" >
            <ion-icon class="post-color" name="chatbubble-ellipses" size="large"></ion-icon> <span *ngIf="noticia.comentariosQnt else loadingComments">{{noticia.comentariosQnt}}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>

<ng-template #loadingComments>
  <span>?</span>
</ng-template>

<ng-template #loading>
  <p>Carregando</p>
</ng-template>