.title-page {
    font-size: 34px;
    color: #1e2432;
    font-weight: bold;
    float: left;
    margin-left: 20px;
    margin-top: 5px;
}

.texto-sobre {
    padding: 0 20px;
    font-size: 15px;
    line-height: 25px;
    color: #808e96;
}

.btn-about {
    --border-radius: 50%;
    --color: #000;
}