<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-title class="title-page">Sobre</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <p class="texto-sobre">
          Iniciei minha trajetória profissional de desenvolvedor no ano de 2005 quando fiz um curso de Adobe Flash e fiquei encantado com as possibilidades. Foi um período de muito aprendizado, me aprofundei no assunto e em menos de 01 ano estava realizando vários trabalhos utilizando a Biblioteca Caurina do Actionscript 3 para desenvolver sites animados com Flash. Passei por várias agências de publicidade como freelancer. 
        </p>
        <p class="texto-sobre">
          De 2009 até 2012 foram anos de muito estudo e dedicação. Procurei me aprofundar em HTML, CSS e Javascript já que se tratava da base para o desenvolvimento frontend. Em 2012 fui contratado pelo Grupo Andrade Magro para reformular a identidade visual de todos os sites pertencentes ao Grupo. Em 2013 atuei como freelancer por cerca de 01 ano, até o início de 2014 onde fui convidado a integrar a equipe de desenvolvimento do BNDES no Consórcio Interagir. Durante o contrato atuei em várias frentes, dando apoio em diversos projetos internos, dentre eles a confecção do Portal de Intranet dos funcionários do BNDES.
        </p>
        <p class="texto-sobre">
          No final de 2014 resolvi atuar por conta própria mais uma vez, fundei a Agência Onda Forte e desde então venho atuando como freelancer utilizando diversos frameworks e CMS.
        </p>
        <p class="texto-sobre">
          Comecei a atuar com Angular em 2016, neste ano desenvolvi uma aplicação que realizava cadastros de demandas de prefeituras do estado de MG. Onde os usuários eram os funcionários dos municípios cadastrados que utilizavam a aplicação para gerenciar tarefas de cada secretaria municipal. Além da emissão de relatórios, gráficos e alertas de novas notícias para o seguimento.
        </p>
        <p class="texto-sobre">
          Em 2017 atuei na equipe de desenvolvimento da <a href="https://bitshoppay.com/" target="_blank">Bitshoppay</a> que é um marketplace focado em criptomoedas. Neste mesmo ano desenvolvi um sistema de automação de processos para a SMR Automotive. O sistema tem a função de receber solicitações de compras dos funcionários, e gerir todo o processo de compras, desde a cotação até a conclusão da venda. Com emissão de emails e notificações push para os seus usuários acompanharem as requisições. Somente dentro da SMR Automotive foram desenvolvidos mais 3 projetos com o foco de automação de processos internos. Posso apresentar o funcionamento desses sistemas durante uma call, já que existem informações sensíveis e confidenciais da empresa.
        </p>
        <p class="texto-sobre">
          Em 2018 atuei como desenvolvedor frontend no <a href="https://www.reclameaqui.com.br" target="_blank">Reclame Aqui</a>. Inicialmente eu atuei no <a href="https://premio.reclameaqui.com.br/sobre-premio" target="_blank">Prêmio Reclame Aqui</a>, após a conclusão do projeto passei a atuar no site <a href="https://www.reclameaqui.com.br" target="_blank">principal</a>. Nos últimos meses do meu contrato eu acabei atuando também na reformulação da Home do RA, a mesma foi desenvolvida utilizando VueJS.
        </p>
        <p class="texto-sobre">
          Tenho profundo conhecimento do AngularUniversal, responsável pela parte de SEO e performance de sites desenvolvidos utilizando o framework. Deixo a listagem dos sites desenvolvidos abaixo. Esses mesmos sites foram desenvolvidos utilizando Angular + Firebase(serveless da Google) + Functions (camada NodeJS da GCloud).
        </p>
        <p class="texto-sobre">
          Portfólio:<br>
          <a href="https://www.agenciaondaforte.com.br/" target="_blank">Agência Onda Forte - Aplicação PWA</a><br><br>
          Trabalhos não publicados no Portfólio:<br>
          <a href="https://www.focco.com.br/" target="_blank">Focco ERP - Aplicação PWA</a><br>
          <a href="https://smallacts.web.app/" target="_blank">Small Acts Foods - E-commerce</a><br>
          <a href="https://www.fesst.com.br/" target="_blank">Fesst Eventos - Site Institucional PWA</a><br>
          <a href="https://www.galeriaduo.com.br/" target="_blank">Galeria Duo - Site Institucional PWA</a>
        </p>
      </ion-col>
      <ion-col size="12">
        <ion-card mode="ios">
          <img src="https://scontent.fgig14-1.fna.fbcdn.net/v/t1.0-9/10255001_736638139691776_9040057383346199664_n.jpg?_nc_cat=110&_nc_sid=174925&_nc_eui2=AeERI_PeUeeSqbeZlMwo4ub3s_A_RdtzM3Cz8D9F23MzcB1WZECioD-4OOvkvAAZS4CM5Z6T4pneUAj3r8GX6QtV&_nc_ohc=MzmqgMS6mwIAX8RgVtA&_nc_ht=scontent.fgig14-1.fna&oh=d7c1f53f60d23fd48fa4eabd30134e97&oe=5EE272BE" />
          <ion-card-header>
            <ion-card-title>Rodrigo Paluma</ion-card-title>
            <ion-card-subtitle>Desenvolvedor FrontEnd</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-button href="https://www.linkedin.com/in/rodrigopaluma/" color="light">
              <ion-icon name="logo-linkedin"></ion-icon>
            </ion-button>
            <ion-button href="https://www.facebook.com/rodrigopaluma" color="light">
              <ion-icon name="logo-facebook"></ion-icon>
            </ion-button>
            <ion-button href="https://github.com/rodrigopaluma" color="light">
              <ion-icon name="logo-github"></ion-icon>
            </ion-button>
            <ion-button href="https://api.whatsapp.com/send?phone=5521969452381&text=Ol%C3%A1%20Rodrigo%2C%20tudo%20bem%3F" color="light">
              <ion-icon name="logo-whatsapp"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
