.title-page {
    text-align: center;
    font-size: 15px;
}

.margin-row {
    margin: 0 16px;
}

.center {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.title-post {
    font-size: 34px;
    font-weight: bold;
    line-height: 41px;
    color: #1e2432;
}

.text-post {
    font-size: 15px;
    line-height: 25px;
    color: #000;
}

.title-comments {
    font-size: 21px;
    font-weight: bold;
    line-height: 41px;
    color: #1e2432;
}

.item-comment {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    border-bottom: 1px solid #e5e5e5;
    .name {
        font-size: 15px;
        font-weight: 600;
        color: #000;
    }
    .email {
        font-size: 14px;
        color: #ff2d55;
        margin-bottom: 20px;
    }
    .comment {
        font-size: 15px;
        font-weight: 300;
        line-height: 25px;
        color: #808e96;
    }
}

.item-comment:last-child {
    border-bottom: 0px solid #e5e5e5;
}

.name-comment {
    width: 100%;
}