<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/noticias" text="" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button autoHide="false">
        <ion-icon slot="icon-only" ios="ellipsis-vertical" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title-page">Notícias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="margin-row">
      <ion-col *ngIf="post | async as post$ else loading">
        <h1 class="title-post">{{post$.title}}</h1>
        <p class="text-post">{{post$.body}}</p>
        <div *ngIf="comentarios | async as comentarios$ else loading">
          <ion-text class="title-comments">Comentários ({{comentarios$.length}})</ion-text>
          <div class="item-comment" *ngFor="let comentario of comentarios$">
            <ion-text class="name">{{comentario.name}}</ion-text>
            <ion-text class="email">{{comentario.email}}</ion-text>
            <ion-text class="comment">{{comentario.body}}</ion-text>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ng-template #loading>
  <ion-grid>
    <ion-row>
      <ion-col class="center">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>